<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <header>
    <%- include('partials_customer/header'); %>
  </header>

  <main>
    <div class="container">
      <% for(var i=0; i < result.length; i++) { %>
      <div class="auctionCard">
        <div id="accordion">
          <a href="/ui_customer/customerCard<%= result[i].key %>">
          <h3><%= result[i].name%> </h3>
          </a>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne<%= i %>" aria-expanded="false" aria-controls="collapseOne<%= i %>">
                  Commodity details
                </button>
              </h5>
            </div>
            <div id="collapseOne<%= i %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <%= JSON.stringify(result[i].commodity); %>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo<%= i %>" aria-expanded="false" aria-controls="collapseTwo<%= i %>">
                  Auction rules
                </button>
              </h5>
            </div>
            <div id="collapseTwo<%= i %>" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
              <%= JSON.stringify(result[i].auctionRules); %>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree<%= i %>" aria-expanded="false" aria-controls="collapseThree<%= i %>">
                  SLA rules
                </button>
              </h5>
            </div>
            <div id="collapseThree<%= i %>" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <%=i%>
                <%= JSON.stringify(result[i].slaRules); %>
              </div>
            </div>
          </div>
          </div>
          </div>
          <% } %>
          </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>
